<a data-wysihtml5-command="objectLink" class="btn">Вставить объект</a>
<div class="wysihtml5-dialog-place">
  <div class="wysihtml5-dialog wysihtml5-menu"  data-wysihtml5-dialog="ObjectLink"
       id="{{ widget.id }}-table" style="display: none; min-width:150px">
    <a data-wysihtml5-command="doclink"
       data-wysihtml5-command-value="select">Блок ссылок</a>
    <a data-wysihtml5-command="photolink"
       data-wysihtml5-command-value="select">Фотография</a>
    <a data-wysihtml5-command="photosetlink"
       data-wysihtml5-command-value="select">Фотоподборка</a>
  </div>
</div>

